* {
    margin:0px;
    padding:0px;
}

@font-face {
    font-family: 'Bebas';
    src: url('../assets/fuentes/Muro.otf') format('opentype');
}

@font-face {
    font-family: 'Reaver';
    src: url('../assets/fuentes/Reaver-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Radiance';
    src: url('../assets/fuentes/radiance.eot');
    src: url('../assets/fuentes/radiance.ttf') format('truetype');
}

:root {
    --main-color: #93f;
    --main-obs-color: rgb(77, 12, 142);
    --main-obs2-color: #371056;

    --menu-transparent: #00000038;
    --menu-effect-1: #0000001f;
    --menu-effect-2: #ffffff1c;
    --menu-hover: #01010194;

    --button-border-effect: #d53a3a7c;

    --primary-font: "Reaver",serif;
    --secondary-font: 'Oswald','sans-serif',"맑은 고딕",'Malgun Gothic';
    --home-font: "Reaver",serif;
    --home-second-font: "Radiance","Noto Sans",sans-serif;
  }

body {
    margin: 0;
    position: relative;
    overflow-x: hidden;
    /*background: #000;*/
}

/* SCROLL */

::-webkit-scrollbar {
    width: 13px;
    /*display: none;*/  /* Ocultar scroll */
    background: #201727;
}

::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0,0,0,0);
    background: #c1c1c1;
    background-clip: padding-box;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset -1px -1px 0 rgba(0,0,0,.05), inset 1px 1px 0 rgba(0,0,0,.05);
}

/* RESPONSIVE */

@media screen and ((max-device-width: 480px) or (max-width: 480px) or (((min-device-width: 769px) or (min-width: 769px)) and (orientation: portrait))){
   
}

@media screen and (((min-width: 481px) and (max-width: 768px)) or ((min-device-width: 481px) and (max-device-width: 768px))){
   
}